.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  border-bottom: 1px solid lightgray;
}

.search-bar {
  width: 40%;
  height: 45px;
  border: none;
  border-radius: 25px;

  padding: 1rem;

  background-color: rgb(240, 240, 240);
}
.redditlogo img {
  width: 130px;
  cursor: pointer;
}

.header-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.get-app {
  background-color: lightgray;
  border: none;
  border-radius: 25px;
  padding: 0.9rem;
  margin: 0.5rem;

  cursor: pointer;
}
.log-in {
  background-color: orangered;
  color: whitesmoke;
  border: none;
  border-radius: 25px;
  padding: 0.9rem;
  margin: 0.5rem;

  cursor: pointer;
}
.settings {
  border: none;
  height: 45px;
  width: 45px;
  border-radius: 50%;

  padding: 0.5rem;

  cursor: pointer;
  position: relative;
}
.settings::before {
  content: "...";
  font-size: 40px;
  color: gray;

  position: relative;
  bottom: 18px;
}

.get-app:hover {
  background-color: gray;
}
.log-in:hover {
  background-color: brown;
}
.settings:hover {
  background-color: lightgray;
}
