.main-content-container {
  display: flex;
  flex-direction: column;
}

.main-content {
  margin: 0 auto 30px auto;
  width: 60%;
}
.new-main-content {
  position: relative;
  top: 15px;
  margin: 0 auto;
  width: 60%;
}

.button-container {
  margin: auto;
}
.newPostButton {
  position: relative;

  background-color: orangered;
  color: whitesmoke;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;

  cursor: pointer;
}
.newPostButton:hover {
  background-color: rgb(165, 165, 165);
}

.post-container {
  position: relative;
  border: 1px solid;
  border-radius: 15px;
  box-shadow: 5px 5px 10px;

  margin: 1rem auto;

  padding: 35px;
}
.post-title {
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: 1px solid black;
}

.post-tags-container {
  position: absolute;
  top: 10px;
  right: 5px;
}
.post-tags {
  border: 1px solid gray;
  padding: 3px;
  margin: 5px;
}
.reactions {
  position: absolute;
  right: 15px;
  bottom: 10px;
}
.thumbs-up {
  position: absolute;
  right: 30px;
  bottom: 0px;
  scale: 50%;

  cursor: pointer;
}
.thumbs-up:hover {
  scale: 70%;
}
