.main-content {
  margin-top: 30px;
  width: 60%;
}

.button-container {
  width: 20%;
  margin: auto;
}
.newPostButton {
  position: relative;

  background-color: lightgray;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;

  cursor: pointer;
}
.newPostButton:hover {
  background-color: rgb(165, 165, 165);
}

.post-container {
  position: relative;
  border: 1px solid;
  border-radius: 15px;
  box-shadow: 5px 5px 10px;
  width: 70%;
  margin: 1rem auto;

  padding: 35px;
}
.post-title {
  margin-bottom: 1rem;
  border-bottom: 1px solid black;
}

.post-tags-container {
  position: absolute;
  top: 10px;
  right: 5px;
}
.post-tags {
}
