* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin: 1rem auto;
  display: flex;
  justify-content: space-evenly;
  max-width: 70%;
}

.see-more {
  font-size: 0.6rem;
  border: 2px ridge;
  cursor: pointer;
}
